<h1 class="text-center" id="h1index">Menus</h1>

<div class="container">
  <div class="row">
    <% @menus.each do |menu| %>
    <div class="col-xs-12 col-sm-6">

      <div class="card" style="background: linear-gradient(100deg, rgba(236, 233, 230, 0.1) 0%, rgba(255, 255, 255, 0.1) 50%),  url('<%= cl_image_path(menu.picture) %>')">
        <div class="card-category">
          <%= menu.name %>
        </div>
        <div class="card-price">
          <%="#{menu.price} €" %>
        </div>
        <div class="card-guests">
          <%="#{menu.guests}"%>
          <%= image_tag("guests.png") %>
        </div>
        <div class="card-user">
          <%= cl_image_tag(menu.user.avatar, class: "avatar-large")%>
        </div>
       <%= link_to "", menu_path(menu.id), class:"card-link"%>
      </div>

    </div>
    <% end %>
  </div>
</div>
