<div class="container">
  <div class="row">
    <div class="col-xs-9">
      <div class="menu-header">
        <div class="text-align  menu-picture" style="background-image: linear-gradient(100deg, rgba(236, 233, 230, 0.2) 0%, rgba(255, 255, 255, 0.2) 50%), url( <%= @menu.picture %>);">
          <h2><%= @menu.name %></h2>
        </div>
      </div>
    </div>
    <div class="col-xs-3 nopadding">
      <div class=" menu-profile text-center">
        <img src="<%= @menu.user.avatar %>" alt="user" class="avatar-large avatar-super-large">
        <h3> <%= @menu.user.first_name %> <%= @menu.user.last_name %>  </h3>
        <p><%= @menu.user.email %></p>
        <p><%= @menu.user.phone_number %></p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-9">
      <div class=" menu-content">
        <div class="menu-description text-justify">
          <%= @menu.description %>
        </div>
        <hr>
        <div class="flexbox">
          <div class="menu-price">
            Price: <%= @menu.price %> €
          </div>
          <div class="menu-guests">
            Guests: <%= @menu.guests %>
          </div>
          <div class="menu-category">
            Category: <%= @menu.category.name %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-3 nopadding">
      <div class=" menu-booking text-center">
      <%=  link_to "Book #{@menu.user.first_name}'s menu now!", new_menu_booking_path(@menu.id), class: "btn btn-success btn-booking" %>
     </div>
   </div>
 </div>
</div>

