<div class="profile-header-wrapper">
  <div class="container profile-header-container text-center">
    <div class="profile-header-infos">
      <%= cl_image_tag(@user.avatar, class:"avatar-medium") %>
      <h1><%= @user.first_name  %></h1>
      <h2>"Cookz for life"</h2>
    </div>
    <div class="tabs">
      <%= link_to  "Profile Info", account_profile_path, class:"tab"%>
      <%= link_to  "My Reservations", account_reservations_path, class:"tab"%>
      <%= link_to  "My menus", account_menus_path, class:"tab active"%>
    </a>
  </div>
</div>
</div>
<div class="container">
  <div class="row">
    <% @menus.each do |menu| %>
    <div class="col-xs-12 col-sm-6">
      <div class="card" style="background: linear-gradient(100deg, rgba(236, 233, 230, 0.1) 0%, rgba(255, 255, 255, 0.1) 50%),  url('<%= cl_image_path(menu.picture) %>')">
        <div class="card-category">
          <%= menu.name %>
        </div>
        <div class="card-price">
          <%="#{menu.price} €" %>
        </div>
        <div class="card-guests">
          <%="#{menu.guests}"%>
          <%= image_tag("guests.png") %>
        </div>
        <%= link_to "", account_menu_path(menu.id), class:"card-link"%>
      </div>
    </div>
    <% end %>
  </div>
</div>
