<!-- <div class="profile-card text-center", style="background: /*linear-gradient(100deg, rgba(236, 233, 230, 0.4) 50%, rgba(255, 255, 255, 0.3) 0%),*/  url('http://res.cloudinary.com/dcn1yrirx/image/upload/v1500548064/banner_profile_pjmrt3.png')">
  <h1 class= "text-center">Hello <%= @user.first_name  %></h1>
  <%= cl_image_tag(@user.avatar, class:"avatar-medium") %>
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link active" href="#">Account info</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">My menus</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">My reservations</a>
    </li>
  </ul>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-9 col-sm-4 col-sm-offset-4">
    <div class="account-infos">
        <h3 class= text-center>Account infos </h3>
        <p> First name: <%= @user.first_name  %></p>
        <p> Last name: <%= @user.last_name  %></p>
        <p> Email: <%= @user.email  %></p>
        <p> Address: <%= @user.address %></p>
      </div>
    </div>
  </div>
</div> -->



<div class="profile-header-wrapper">
  <div class="container profile-header-container text-center">
    <div class="profile-header-infos">
      <%= cl_image_tag(@user.avatar, class:"avatar-medium") %>
      <h1><%= @user.first_name  %></h1>
      <h2>"Cookz for life"</h2>
    </div>
    <div class="tabs">
      <%= link_to  "Profile Info", account_profile_path, class:"tab active"%>
      <%= link_to  "My Reservations", account_reservations_path, class:"tab"%>
      <%= link_to  "My menus", account_menus_path, class:"tab"%>
    </div>
  </div>
</div>
</div>
<div class="container" id="account-infos">
  <div class="col-xs-3">
    <div class="account-infos">
      <h3> First name: </h3>
      <h3> Last name: </h3>
      <h3> Email: </h3>
      <h3> Address: </h3>
    </div>
  </div>
  <div class="col-xs-9">
  <div class="account-content">
    <h3><%= @user.first_name  %></h3>
    <h3><%= @user.last_name  %></h3>
    <h3><%= @user.email  %></h3>
    <h3><%= @user.address %></h3>
  </div>
</div>
</div>

</div>
<h5 class= text-center><%= link_to 'Edit my profile', edit_user_registration_path %></h5>
</div>
