<div class="profile-card text-center", style="background: /*linear-gradient(100deg, rgba(236, 233, 230, 0.4) 50%, rgba(255, 255, 255, 0.3) 0%),*/  url('http://res.cloudinary.com/dcn1yrirx/image/upload/v1500548064/banner_profile_pjmrt3.png')">
  <h1 class= "text-center">Hello <%= @user.first_name  %></h1>
  <%= cl_image_tag(@user.avatar, class:"avatar-medium") %>
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link active" href="#">Account info</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">My menus</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">My reservations</a>
    </li>
  </ul>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
    <div class="account-infos">
        <h3 class= text-center>Account infos </h3>
        <p> First name: <%= @user.first_name  %></p>
        <p> Last name: <%= @user.last_name  %></p>
        <p> Email: <%= @user.email  %></p>
        <p> Address: <%= @user.address %></p>
      </div>
    </div>
  </div>
</div>
